{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - ANSADE App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>ANSADE App</h1>
        <nav>
            <ul>
                <li><a href="{% url 'product_family_list' %}">Famille de produits</a></li>
                <li><a href="{% url 'product_list' %}">Produits</a></li>
                <li><a href="{% url 'panier_list' %}">Panier</a></li>
                <li><a href="{% url 'product_cart_list' %}">Produit panier</a></li>
                <li><a href="{% url 'product_price_list' %}">Prix des produits</a></li>
                <li><a href="{% url 'point_of_sale_list' %}">Points de ventes</a></li>
                <li><a href="{% url 'wilaya_list' %}">Wilaya</a></li>
                <li><a href="{% url 'moughataa_list' %}">Moughataa</a></li>
                <li><a href="{% url 'commune_list' %}">Commune</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <img src="{% static 'images/home.jpeg' %}" alt="Accueil" style="max-width: 100%; height: auto;">
        <h2>Bienvenue sur ANSADE App</h2>
        <p>
            ANSADE App est une solution innovante dédiée à la gestion efficace et au calcul de 
            l'Indice National des Prix à la Consommation (INPC).
        </p>
        <h3>Fonctionnalités clés :</h3>
        <ul>
            <li>🚀 Calculs avancés de l'INPC</li>
            <li>🛠️ Gestion intuitive des données</li>
            <li>📈 Outils puissants de prise de décision</li>
        </ul>
        <p>👉 Visitez notre site Web : <a href="https://ansade.mr" target="_blank">ansade.mr</a></p>
    </main>

    <footer>
        <p>&copy; 2025 ANSADE App - Tous droits réservés (23084)</p>
    </footer>
</body>
</html>
