{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Familles de Produits</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Liste des Familles de Produits</h1>
    </header>
    <main>
        <a href="{% url 'product_family_create' %}" class="btn btn-primary">Ajouter une Famille</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for family in families %}
                <tr>
                    <td>{{ family.id }}</td>
                    <td>{{ family.label }}</td>
                    <td>
                        <a href="{% url 'product_family_update' family.id %}" class="btn btn-warning">Modifier</a>
                        <a href="{% url 'product_family_delete' family.id %}" class="btn btn-danger">Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    <footer>
        <p>&copy; 2025 ANSADE App - Tous droits réservés.</p>
    </footer>
</body>
</html>
