*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.python-version
db.sqlite3
db.sqlite3-journal
media/
.DS_Store
.env
.venv
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media
.idea/
.vscode/
*.swp
*.swo
