{% extends 'base.html' %}
{% block content %}
<h1>Liste des Produits Panier</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom du Produit</th>
            <th>Nom du Panier</th>
            <th>Poids</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product_cart in product_carts %}
        <tr>
            <td>{{ product_cart.id }}</td>
            <td>{{ product_cart.product.name }}</td>
            <td>{{ product_cart.cart.name }}</td>
            <td>{{ product_cart.weight }}</td>
            <td>{{ product_cart.date_from }}</td>
            <td>{{ product_cart.date_to }}</td>
            <td>
                <a href="{% url 'product_cart_update' product_cart.id %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'product_cart_delete' product_cart.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'product_cart_create' %}" class="btn btn-primary">Ajouter un Produit au Panier</a>
{% endblock %}
