{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Liste des Produits</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Unité de mesure</th>
            <th>Famille</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.id }}</td>
            <td>{{ product.code }}</td>
            <td>{{ product.label }}</td>
            <td>{{ product.description|default:"-" }}</td>
            <td>{{ product.unit_measure|default:"-" }}</td>
            <td>{{ product.family.label }}</td>
            <td>
                <a href="{% url 'product_update' product.id %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'product_delete' product.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
