{% extends 'base.html' %}
{% block content %}
<h1>Liste des Prix des Produits</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Produit</th>
            <th>Point de Vente</th>
            <th>Valeur</th>
            <th>Date Début</th>
            <th>Date Fin</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for price in product_prices %}
        <tr>
            <td>{{ price.id }}</td>
            <td>{{ price.product.name }}</td>
            <td>{{ price.point_of_sale.name }}</td>
            <td>{{ price.value }}</td>
            <td>{{ price.date_from }}</td>
            <td>{{ price.date_to }}</td>
            <td>
                <a href="{% url 'product_price_update' price.id %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'product_price_delete' price.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'product_price_create' %}" class="btn btn-primary">Ajouter un Prix</a>
{% endblock %}
