{% extends 'base.html' %}
{% block content %}
<h1>Liste des Paniers</h1>
<a href="{% url 'panier_create' %}" class="btn btn-primary">Ajouter un Panier</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for panier in paniers %}
        <tr>
            <td>{{ panier.id }}</td>
            <td>{{ panier.code }}</td>
            <td>{{ panier.label }}</td>
            <td>{{ panier.description }}</td>
            <td>
                <a href="{% url 'panier_update' panier.id %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'panier_delete' panier.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
