{% extends 'base.html' %}
{% block content %}
<h1>Liste des Points de Ventes</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Code</th>
            <th>Type</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Commune</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for point in points_of_sales %}
        <tr>
            <td>{{ point.id }}</td>
            <td>{{ point.name }}</td>
            <td>{{ point.code }}</td>
            <td>{{ point.type }}</td>
            <td>{{ point.gps_lat }}</td>
            <td>{{ point.gps_lon }}</td>
            <td>{{ point.commune.name }}</td>
            <td>
                <a href="{% url 'point_of_sale_update' point.id %}" class="btn btn-warning">Modifier</a>
                <a href="{% url 'point_of_sale_delete' point.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'point_of_sale_create' %}" class="btn btn-primary">Ajouter un Point de Vente</a>
{% endblock %}
