# Python
*.pyc
*.pyo
__pycache__/
*.env

# Django
db.sqlite3
media/
staticfiles/

# Virtual environments
venv/
env/

# IDE files
.vscode/
*.swp
.idea/
*.iml


# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# macOS
.DS_Store

# Git
.git/

# Ignore migrations files
*/migrations/*.py
!*/migrations/__init__.py
# Ignore all locale files and translation files
**/locale/
**/*.po
**/*.mo
# Ignore Python virtual environment and libraries
Lib/
site-packages/

# Ignore Python virtual environment
app_ansade/Scripts/
app_ansade/Lib/
app_ansade/Include/
app_ansade/bin/
app_ansade/pyvenv.cfg